In [9]:
import psycopg2
from psycopg2.extras import RealDictCursor
import pandas as pd
import uuid

In [25]:
conn = psycopg2.connect(
    host='ud-adp-rolling.cbyis8su6n0i.us-east-2.rds.amazonaws.com',
    user='postgres',
    password='liammurphybbm2',
    port=5432
)

cursor = conn.cursor(cursor_factory=RealDictCursor)

# BBM4 (2023)

### Raw Data -> ADP Data

In [2]:
# very large file, takes a long time to load
bbm4_data = pd.read_csv(r'C:\Users\Jona\Desktop\tuxff\data\large data\best_ball_mania_iv_2023_r1_results_pick_by_pick.csv', delimiter=',')

In [3]:
print(bbm4_data.columns)
bbm4_data.head(5)

Index(['draft_id', 'user_id', 'username', 'draft_created_time',
       'draft_filled_time', 'draft_time', 'draft_completed_time', 'clock',
       'draft_entry_id', 'tournament_entry_id',
       'tournament_round_draft_entry_id', 'tournament_round_number',
       'player_name', 'player_id', 'position_name', 'projection_adp', 'source',
       'pick_order', 'overall_pick_number', 'team_pick_number',
       'pick_created_time', 'pick_points', 'roster_points', 'made_playoffs'],
      dtype='object')

,draft_id,user_id,username,draft_created_time,draft_filled_time,draft_time,draft_completed_time,clock,draft_entry_id,tournament_entry_id,...,position_name,projection_adp,source,pick_order,overall_pick_number,team_pick_number,pick_created_time,pick_points,roster_points,made_playoffs
0,65219f4a-267e-4035-806a-646a3c1a846e,1a32930d-dbc3-412b-b4d5-8776feb34790,nohalfsteppin,2023-04-25T03:41:37Z,2023-09-03T18:54:09Z,2023-09-03T18:55:15Z,2023-09-03T19:42:23Z,30,a07d4470-1381-4151-b439-c13b67fc9e1c,375e1161-0892-4b8d-a00f-3a5936f4b23c,...,WR,8.57,user,6,6,1,2023-09-03T18:56:23Z,171.10,2091.34,0
1,65219f4a-267e-4035-806a-646a3c1a846e,1a32930d-dbc3-412b-b4d5-8776feb34790,nohalfsteppin,2023-04-25T03:41:37Z,2023-09-03T18:54:09Z,2023-09-03T18:55:15Z,2023-09-03T19:42:23Z,30,a07d4470-1381-4151-b439-c13b67fc9e1c,375e1161-0892-4b8d-a00f-3a5936f4b23c,...,QB,27.26,user,6,19,2,2023-09-03T18:58:43Z,247.84,2091.34,0
2,65219f4a-267e-4035-806a-646a3c1a846e,1a32930d-dbc3-412b-b4d5-8776feb34790,nohalfsteppin,2023-04-25T03:41:37Z,2023-09-03T18:54:09Z,2023-09-03T18:55:15Z,2023-09-03T19:42:23Z,30,a07d4470-1381-4151-b439-c13b67fc9e1c,375e1161-0892-4b8d-a00f-3a5936f4b23c,...,WR,34.95,user,6,30,3,2023-09-03T19:00:59Z,204.86,2091.34,0
3,65219f4a-267e-4035-806a-646a3c1a846e,1a32930d-dbc3-412b-b4d5-8776feb34790,nohalfsteppin,2023-04-25T03:41:37Z,2023-09-03T18:54:09Z,2023-09-03T18:55:15Z,2023-09-03T19:42:23Z,30,a07d4470-1381-4151-b439-c13b67fc9e1c,375e1161-0892-4b8d-a00f-3a5936f4b23c,...,WR,39.76,user,6,43,4,2023-09-03T19:02:58Z,52.10,2091.34,0
4,65219f4a-267e-4035-806a-646a3c1a846e,1a32930d-dbc3-412b-b4d5-8776feb34790,nohalfsteppin,2023-04-25T03:41:37Z,2023-09-03T18:54:09Z,2023-09-03T18:55:15Z,2023-09-03T19:42:23Z,30,a07d4470-1381-4151-b439-c13b67fc9e1c,375e1161-0892-4b8d-a00f-3a5936f4b23c,...,TE,53.16,user,6,54,5,2023-09-03T19:05:16Z,146.40,2091.34,0

In [37]:
bbm4_cond = bbm4_data.copy()[['player_name', 'player_id', 'position_name', 'projection_adp', 'pick_created_time']]
bbm4_cond['pick_created_time'] = pd.to_datetime(bbm4_cond['pick_created_time']) + pd.Timedelta(hours=-15)
bbm4_cond['pick_created_time'] = bbm4_cond['pick_created_time'].dt.strftime('%Y-%m-%dT%H:%M:%SZ')
bbm4_cond.head(5)

,player_name,player_id,position_name,projection_adp,pick_created_time
0,Stefon Diggs,25ea41e7-0529-48c6-ba65-7648bb7f9ed2,WR,8.57,2023-09-03T03:56:23Z
1,Josh Allen,99398db6-2ffb-42e9-bdb0-4312a399ab08,QB,27.26,2023-09-03T03:58:43Z
2,Keenan Allen,d74acd73-504a-4c9b-8aa6-fe602de560a8,WR,34.95,2023-09-03T04:00:59Z
3,Christian Watson,c108c752-92fd-491f-94ed-60b0b3cea7d8,WR,39.76,2023-09-03T04:02:58Z
4,T.J. Hockenson,660a9e72-4fc7-442d-ba62-257dbab39568,TE,53.16,2023-09-03T04:05:16Z

In [38]:
bbm4_cond_date = bbm4_cond.copy()
bbm4_cond_date['pick_created_time'] = bbm4_cond_date['pick_created_time'].str[:10]
bbm4_cond_date.head(5)

,player_name,player_id,position_name,projection_adp,pick_created_time
0,Stefon Diggs,25ea41e7-0529-48c6-ba65-7648bb7f9ed2,WR,8.57,2023-09-03
1,Josh Allen,99398db6-2ffb-42e9-bdb0-4312a399ab08,QB,27.26,2023-09-03
2,Keenan Allen,d74acd73-504a-4c9b-8aa6-fe602de560a8,WR,34.95,2023-09-03
3,Christian Watson,c108c752-92fd-491f-94ed-60b0b3cea7d8,WR,39.76,2023-09-03
4,T.J. Hockenson,660a9e72-4fc7-442d-ba62-257dbab39568,TE,53.16,2023-09-03

In [39]:
bbm4_05_10 = bbm4_cond_date[bbm4_cond_date['pick_created_time'] == '2023-08-14']
for player_name in bbm4_05_10['player_name'].unique():
    player_data = bbm4_05_10[bbm4_05_10['player_name'] == player_name]
    adp_counts = player_data['projection_adp'].value_counts()
    print(f"\n{player_name}:")
    for adp, count in adp_counts.items():
        print(f"  ADP {adp}: {count} times")

T.J. Hockenson:
  ADP 52.27: 657 times
  ADP 52.42: 2 times

Marquise Brown:
  ADP 61.87: 674 times
  ADP 61.53: 4 times

Sam LaPorta:
  ADP 150.11: 653 times
  ADP 150.0: 2 times

Raheem Mostert:
  ADP 158.07: 682 times
  ADP 158.67: 3 times

Tyreek Hill:
  ADP 4.13: 666 times
  ADP 4.1: 2 times

Derrick Henry:
  ADP 21.03: 669 times

Josh Allen:
  ADP 27.49: 667 times
  ADP 27.44: 3 times

Mike Williams:
  ADP 44.61: 643 times
  ADP 44.51: 2 times

Kenneth Walker III:
  ADP 53.6: 664 times
  ADP 53.59: 3 times

Michael Pittman Jr.:
  ADP 71.03: 654 times
  ADP 70.15: 2 times

George Kittle:
  ADP 62.62: 674 times
  ADP 62.64: 2 times

Elijah Moore:
  ADP 87.49: 659 times
  ADP 87.3: 2 times

AJ Dillon:
  ADP 101.18: 659 times
  ADP 101.38: 2 times

David Njoku:
  ADP 106.7: 652 times
  ADP 106.56: 2 times

Jakobi Meyers:
  ADP 126.91: 639 times
  ADP 126.73: 2 times

Adam Thielen:
  ADP 148.7: 635 times
  ADP 148.85: 3 times

Marvin Mims Jr.:
  ADP 145.02: 655 times
  ADP 144.48: 5 times

Jordan Love:
  ADP 161.22: 655 times
  ADP 162.37: 4 times

Darius Slayton:
  ADP 196.95: 600 times
  ADP 197.22: 2 times

Michael Mayer:
  ADP 209.46: 398 times

Gus Edwards:
  ADP 177.79: 630 times
  ADP 178.09: 1 times

Ryan Tannehill:
  ADP 203.6: 442 times
  ADP 203.79: 2 times

Marquez Valdes-Scantling:
  ADP 144.12: 651 times
  ADP 144.45: 4 times

A.J. Brown:
  ADP 10.18: 661 times
  ADP 10.14: 2 times

CeeDee Lamb:
  ADP 11.49: 654 times
  ADP 11.42: 5 times

Deebo Samuel:
  ADP 34.66: 653 times
  ADP 34.5: 3 times

Keenan Allen:
  ADP 36.46: 658 times
  ADP 36.43: 4 times

Dameon Pierce:
  ADP 67.45: 655 times
  ADP 67.7: 2 times

Rachaad White:
  ADP 83.01: 648 times
  ADP 82.78: 4 times

David Montgomery:
  ADP 77.28: 640 times
  ADP 77.24: 3 times

Odell Beckham Jr.:
  ADP 108.79: 654 times
  ADP 108.82: 2 times

Nico Collins:
  ADP 114.61: 646 times
  ADP 114.03: 1 times

Tyler Higbee:
  ADP 141.38: 643 times
  ADP 141.33: 2 times

Daniel Jones:
  ADP 115.52: 643 times
  ADP 114.93: 2 times

Gerald Everett:
  ADP 148.87: 646 times
  ADP 148.94: 3 times

Brock Purdy:
  ADP 166.98: 633 times
  ADP 166.49: 2 times

Tyler Conklin:
  ADP 188.41: 623 times
  ADP 188.0: 2 times

C.J. Stroud:
  ADP 199.13: 448 times
  ADP 197.79: 1 times

Amon-Ra St. Brown:
  ADP 13.13: 662 times
  ADP 13.04: 3 times

Lamar Jackson:
  ADP 35.39: 656 times
  ADP 35.29: 4 times

James Cook:
  ADP 84.65: 654 times
  ADP 85.14: 3 times

James Conner:
  ADP 80.61: 664 times
  ADP 80.77: 3 times

Brian Robinson Jr.:
  ADP 106.07: 636 times
  ADP 105.98: 2 times

Samaje Perine:
  ADP 113.3: 646 times
  ADP 113.27: 1 times

Curtis Samuel:
  ADP 177.11: 630 times
  ADP 176.94: 3 times

Jake Ferguson:
  ADP 188.25: 649 times
  ADP 189.9: 2 times

Richie James Jr.:
  ADP 198.32: 577 times
  ADP 198.05: 4 times

DJ Moore:
  ADP 44.96: 646 times
  ADP 46.15: 2 times

Jaylen Waddle:
  ADP 18.02: 665 times
  ADP 17.91: 2 times

Jalen Hurts:
  ADP 24.62: 670 times
  ADP 24.7: 2 times

Christian McCaffrey:
  ADP 3.47: 676 times

Tony Pollard:
  ADP 18.09: 663 times
  ADP 18.04: 3 times

Mark Andrews:
  ADP 29.14: 669 times
  ADP 29.12: 4 times

DeAndre Hopkins:
  ADP 46.9: 638 times
  ADP 46.51: 3 times

Brandon Aiyuk:
  ADP 51.61: 660 times
  ADP 51.3: 3 times

Mike Evans:
  ADP 66.57: 665 times
  ADP 66.37: 3 times

Brandin Cooks:
  ADP 84.0: 656 times
  ADP 83.89: 4 times

Dak Prescott:
  ADP 106.04: 646 times
  ADP 106.06: 2 times

Juwan Johnson:
  ADP 181.86: 652 times
  ADP 183.78: 2 times

Jeff Wilson Jr.:
  ADP 176.48: 664 times
  ADP 176.5: 1 times

Sam Howell:
  ADP 195.46: 614 times
  ADP 197.34: 4 times

Michael Wilson:
  ADP 208.71: 435 times
  ADP 209.13: 2 times

DK Metcalf:
  ADP 28.76: 670 times
  ADP 28.75: 3 times

Justin Fields:
  ADP 47.93: 667 times
  ADP 48.79: 3 times

Isiah Pacheco:
  ADP 90.29: 641 times
  ADP 90.32: 2 times

Evan Engram:
  ADP 95.0: 651 times
  ADP 95.46: 2 times

Kirk Cousins:
  ADP 111.64: 642 times
  ADP 111.76: 2 times

Jonathan Mingo:
  ADP 146.34: 648 times
  ADP 144.5: 2 times

Tyler Allgeier:
  ADP 141.28: 663 times
  ADP 141.24: 3 times

D'Onta Foreman:
  ADP 161.21: 617 times
  ADP 160.31: 1 times

Chuba Hubbard:
  ADP 189.72: 621 times
  ADP 189.4: 2 times

Puka Nacua:
  ADP 212.79: 251 times
  ADP 213.1: 4 times

Chris Godwin:
  ADP 59.94: 665 times
  ADP 59.81: 2 times

Travis Etienne Jr.:
  ADP 41.45: 654 times
  ADP 41.26: 2 times

Tyler Lockett:
  ADP 62.0: 663 times
  ADP 61.94: 3 times

J.K. Dobbins:
  ADP 69.26: 663 times
  ADP 68.95: 2 times

Jaylen Warren:
  ADP 133.59: 662 times
  ADP 133.75: 3 times

Jayden Reed:
  ADP 168.33: 636 times
  ADP 168.78: 3 times

Hunter Henry:
  ADP 197.43: 625 times
  ADP 198.39: 4 times

Isaiah Likely:
  ADP 207.37: 409 times
  ADP 207.36: 1 times

Chris Olave:
  ADP 19.42: 667 times
  ADP 19.43: 3 times

Drake London:
  ADP 44.42: 644 times
  ADP 44.17: 4 times

Jahan Dotson:
  ADP 74.41: 664 times
  ADP 74.91: 4 times

Antonio Gibson:
  ADP 99.63: 642 times
  ADP 99.74: 5 times

De'Von Achane:
  ADP 113.05: 653 times
  ADP 113.2: 1 times

Van Jefferson:
  ADP 140.64: 656 times
  ADP 140.32: 3 times

Cole Kmet:
  ADP 149.1: 652 times
  ADP 149.54: 4 times

Ezekiel Elliott:
  ADP 175.39: 764 times
  ADP 174.87: 2 times

DeVante Parker:
  ADP 185.55: 627 times
  ADP 185.39: 4 times

Tank Dell:
  ADP 193.28: 632 times
  ADP 196.92: 1 times

Desmond Ridder:
  ADP 208.83: 323 times
  ADP 208.7: 3 times

Breece Hall:
  ADP 33.44: 629 times
  ADP 33.07: 3 times

Christian Kirk:
  ADP 50.87: 658 times
  ADP 50.7: 3 times

Dalton Schultz:
  ADP 137.01: 644 times
  ADP 137.07: 4 times

Devin Singletary:
  ADP 158.61: 645 times
  ADP 158.2: 3 times

Kendre Miller:
  ADP 151.62: 608 times
  ADP 149.54: 1 times

Robert Woods:
  ADP 210.47: 338 times
  ADP 210.23: 1 times

Chase Claypool:
  ADP 206.46: 459 times
  ADP 206.45: 1 times

Treylon Burks:
  ADP 87.25: 645 times
  ADP 87.4: 3 times

Khalil Herbert:
  ADP 112.3: 682 times
  ADP 114.63: 3 times

Alexander Mattison:
  ADP 58.8: 677 times

Christian Watson:
  ADP 41.05: 647 times
  ADP 40.76: 3 times

Gabe Davis:
  ADP 68.85: 664 times
  ADP 68.82: 3 times

Tua Tagovailoa:
  ADP 92.56: 648 times
  ADP 92.74: 4 times

Rashod Bateman:
  ADP 96.4: 640 times
  ADP 96.03: 2 times

Kenneth Gainwell:
  ADP 158.84: 676 times
  ADP 160.81: 4 times

Tee Higgins:
  ADP 25.0: 671 times
  ADP 24.75: 4 times

Dalvin Cook:
  ADP 99.24: 704 times
  ADP 99.1: 3 times

Courtland Sutton:
  ADP 93.24: 631 times
  ADP 93.01: 2 times

Romeo Doubs:
  ADP 118.58: 663 times
  ADP 119.69: 1 times

Matthew Stafford:
  ADP 161.34: 633 times
  ADP 161.08: 1 times

John Metchie III:
  ADP 179.46: 636 times
  ADP 178.13: 2 times

Clyde Edwards-Helaire:
  ADP 206.45: 435 times
  ADP 207.1: 2 times

Jared Goff:
  ADP 129.5: 654 times
  ADP 129.62: 2 times

Travis Kelce:
  ADP 6.3: 674 times

Tyjae Spears:
  ADP 174.81: 643 times
  ADP 176.18: 2 times

Justyn Ross:
  ADP 185.49: 603 times
  ADP 184.68: 2 times

DeVonta Smith:
  ADP 21.82: 667 times
  ADP 21.71: 5 times

Jameson Williams:
  ADP 103.81: 651 times
  ADP 103.41: 3 times

Aaron Rodgers:
  ADP 122.48: 663 times
  ADP 122.72: 5 times

Jamaal Williams:
  ADP 125.84: 659 times
  ADP 126.47: 4 times

Taysom Hill:
  ADP 163.6: 635 times
  ADP 162.96: 1 times

Dawson Knox:
  ADP 179.42: 638 times
  ADP 178.98: 3 times

Ty Chandler:
  ADP 205.29: 521 times
  ADP 206.19: 1 times

Parris Campbell:
  ADP 187.11: 587 times
  ADP 185.78: 1 times

Elijah Mitchell:
  ADP 131.51: 646 times
  ADP 131.4: 2 times

Joe Mixon:
  ADP 42.98: 640 times
  ADP 42.94: 3 times

Alvin Kamara:
  ADP 87.97: 659 times
  ADP 88.67: 2 times

Deshaun Watson:
  ADP 84.26: 649 times
  ADP 84.25: 4 times

K.J. Osborn:
  ADP 147.47: 648 times
  ADP 147.56: 2 times

Kareem Hunt:
  ADP 184.07: 630 times
  ADP 185.97: 3 times

Cade Otton:
  ADP 215.17: 88 times

Zach Ertz:
  ADP 215.53: 258 times
  ADP 215.61: 1 times

Kyren Williams:
  ADP 215.09: 137 times

Michael Gallup:
  ADP 137.64: 647 times

Hunter Renfrow:
  ADP 193.41: 600 times
  ADP 193.24: 4 times

Deon Jackson:
  ADP 212.74: 193 times
  ADP 213.82: 2 times

Trevor Lawrence:
  ADP 65.03: 674 times
  ADP 65.3: 4 times

Dallas Goedert:
  ADP 76.88: 653 times
  ADP 76.86: 4 times

Roschon Johnson:
  ADP 154.86: 651 times
  ADP 155.98: 2 times

Jerome Ford:
  ADP 173.53: 621 times
  ADP 172.37: 3 times

Deuce Vaughn:
  ADP 212.69: 458 times
  ADP 214.39: 1 times

Baker Mayfield:
  ADP 214.43: 122 times
  ADP 214.64: 1 times

Terry McLaurin:
  ADP 45.75: 642 times
  ADP 45.31: 5 times

Darren Waller:
  ADP 71.02: 660 times
  ADP 71.44: 3 times

Zay Flowers:
  ADP 82.62: 660 times
  ADP 82.18: 2 times

Tank Bigsby:
  ADP 127.12: 649 times
  ADP 127.39: 2 times

Trey McBride:
  ADP 209.03: 295 times
  ADP 208.51: 2 times

Jahmyr Gibbs:
  ADP 34.42: 656 times
  ADP 34.46: 4 times

George Pickens:
  ADP 71.78: 647 times
  ADP 72.34: 4 times

Greg Dulcich:
  ADP 131.79: 630 times
  ADP 130.8: 2 times

Josh Downs:
  ADP 213.67: 146 times

Zamir White:
  ADP 178.9: 658 times
  ADP 180.45: 1 times

Javonte Williams:
  ADP 77.9: 653 times
  ADP 78.09: 4 times

Chig Okonkwo:
  ADP 147.19: 642 times
  ADP 147.09: 3 times

Ja'Marr Chase:
  ADP 2.22: 674 times
  ADP 2.21: 2 times

Jonathan Taylor:
  ADP 24.23: 668 times
  ADP 24.68: 5 times

Kyle Pitts:
  ADP 73.82: 654 times
  ADP 73.58: 4 times

Miles Sanders:
  ADP 64.4: 648 times
  ADP 64.86: 3 times

Skyy Moore:
  ADP 90.86: 648 times
  ADP 90.48: 2 times

Anthony Richardson:
  ADP 104.16: 660 times
  ADP 103.67: 3 times

Alec Pierce:
  ADP 156.0: 641 times
  ADP 155.48: 3 times

Jelani Woods:
  ADP 214.34: 132 times

Dalton Kincaid:
  ADP 120.7: 646 times
  ADP 120.24: 1 times

Khalil Shakir:
  ADP 189.8: 598 times
  ADP 189.17: 2 times

Luke Musgrave:
  ADP 194.6: 634 times
  ADP 197.58: 4 times

Mack Hollins:
  ADP 214.45: 116 times

Calvin Ridley:
  ADP 25.89: 673 times
  ADP 25.87: 3 times

Allen Lazard:
  ADP 119.6: 644 times
  ADP 119.32: 4 times

JuJu Smith-Schuster:
  ADP 116.17: 650 times
  ADP 115.97: 1 times

Joshua Palmer:
  ADP 213.08: 213 times

Kenyan Drake:
  ADP 215.81: 5 times

Cordarrelle Patterson:
  ADP 199.49: 499 times
  ADP 200.38: 2 times

Rashee Rice:
  ADP 138.69: 659 times
  ADP 138.39: 3 times

Jordan Addison:
  ADP 70.73: 665 times
  ADP 70.25: 4 times

Rashid Shaheed:
  ADP 171.3: 630 times
  ADP 170.13: 2 times

Diontae Johnson:
  ADP 55.36: 668 times
  ADP 55.47: 3 times

Michael Thomas:
  ADP 98.16: 659 times
  ADP 98.59: 2 times

Pat Freiermuth:
  ADP 108.41: 635 times
  ADP 108.49: 3 times

Rondale Moore:
  ADP 136.79: 634 times
  ADP 136.43: 3 times

Amari Cooper:
  ADP 32.96: 668 times
  ADP 32.92: 3 times

Luke Schoonmaker:
  ADP 215.92: 4 times

Tyler Boyd:
  ADP 110.95: 642 times
  ADP 110.63: 3 times

Davante Adams:
  ADP 15.32: 667 times
  ADP 15.24: 5 times

Josh Jacobs:
  ADP 32.21: 665 times

Aaron Jones:
  ADP 51.67: 661 times
  ADP 51.68: 2 times

Calvin Austin III:
  ADP 214.16: 168 times
  ADP 214.87: 1 times

Jerick McKinnon:
  ADP 123.12: 657 times
  ADP 123.53: 4 times

Mecole Hardman Jr.:
  ADP 199.41: 530 times
  ADP 198.22: 1 times

Rashaad Penny:
  ADP 102.64: 631 times
  ADP 102.31: 2 times

Zach Charbonnet:
  ADP 105.66: 652 times
  ADP 104.81: 3 times

DJ Chark Jr.:
  ADP 152.29: 641 times
  ADP 152.09: 2 times

D'Andre Swift:
  ADP 80.61: 651 times
  ADP 80.47: 2 times

Donovan Peoples-Jones:
  ADP 162.32: 635 times
  ADP 162.02: 2 times

Hayden Hurst:
  ADP 199.93: 548 times
  ADP 199.03: 4 times

Corey Davis:
  ADP 213.94: 138 times
  ADP 213.96: 1 times

Saquon Barkley:
  ADP 16.14: 658 times
  ADP 16.21: 4 times

Trent Sherfield:
  ADP 215.67: 36 times

Isaiah Hodgins:
  ADP 167.26: 643 times
  ADP 166.99: 1 times

Derek Carr:
  ADP 150.68: 664 times
  ADP 151.63: 2 times

Latavius Murray:
  ADP 214.8: 103 times

Darnell Mooney:
  ADP 130.98: 647 times
  ADP 131.16: 4 times

Kyler Murray:
  ADP 157.81: 633 times
  ADP 157.4: 1 times

Najee Harris:
  ADP 39.97: 654 times
  ADP 40.13: 3 times

Joe Burrow:
  ADP 48.64: 658 times
  ADP 48.65: 5 times

Jalin Hyatt:
  ADP 170.86: 630 times
  ADP 170.7: 2 times

Stefon Diggs:
  ADP 8.07: 666 times
  ADP 8.05: 2 times

Jimmy Garoppolo:
  ADP 206.8: 378 times
  ADP 206.82: 4 times

Russell Wilson:
  ADP 133.95: 634 times
  ADP 133.61: 2 times

Bijan Robinson:
  ADP 8.7: 663 times
  ADP 8.73: 3 times

Geno Smith:
  ADP 114.88: 644 times
  ADP 114.83: 3 times

Bryce Young:
  ADP 182.59: 610 times
  ADP 181.16: 2 times

Austin Ekeler:
  ADP 7.45: 663 times
  ADP 7.48: 3 times

Justin Herbert:
  ADP 53.58: 667 times
  ADP 53.64: 3 times

Mike Gesicki:
  ADP 207.12: 272 times
  ADP 205.46: 2 times

Irv Smith Jr.:
  ADP 165.08: 659 times
  ADP 164.44: 1 times

Justin Jefferson:
  ADP 1.1: 676 times

Rhamondre Stevenson:
  ADP 28.26: 637 times
  ADP 28.31: 3 times

Garrett Wilson:
  ADP 14.2: 656 times
  ADP 14.22: 4 times

Quentin Johnston:
  ADP 79.72: 651 times
  ADP 79.32: 5 times

Zay Jones:
  ADP 125.23: 641 times
  ADP 125.27: 2 times

Tyquan Thornton:
  ADP 210.69: 191 times
  ADP 209.5: 1 times

Kenny Pickett:
  ADP 170.45: 657 times
  ADP 171.58: 2 times

Chase Brown:
  ADP 206.65: 257 times
  ADP 204.71: 2 times

Jaxon Smith-Njigba:
  ADP 58.1: 661 times
  ADP 57.73: 3 times

Kadarius Toney:
  ADP 96.64: 648 times
  ADP 96.05: 2 times

Mac Jones:
  ADP 211.27: 270 times
  ADP 211.01: 1 times

Josh Reynolds:
  ADP 215.62: 35 times

Marvin Jones Jr.:
  ADP 214.82: 91 times

Cooper Kupp:
  ADP 5.22: 668 times

Wan'Dale Robinson:
  ADP 215.06: 63 times

Joshua Kelley:
  ADP 214.05: 140 times

Leonard Fournette:
  ADP 204.23: 403 times
  ADP 203.39: 2 times

Damien Harris:
  ADP 126.05: 634 times
  ADP 125.71: 3 times

Michael Carter:
  ADP 214.07: 98 times

Josh Oliver:
  ADP 215.99: 2 times

Nick Chubb:
  ADP 12.11: 662 times
  ADP 12.18: 3 times

Tutu Atwell:
  ADP 215.73: 38 times

Cole Turner:
  ADP 215.79: 45 times
  ADP 215.84: 1 times

Allen Robinson II:
  ADP 214.0: 135 times
  ADP 213.91: 1 times

Cam Akers:
  ADP 66.64: 670 times
  ADP 66.49: 2 times

Tucker Kraft:
  ADP 215.99: 6 times

Patrick Mahomes:
  ADP 20.63: 662 times
  ADP 20.7: 2 times

Chris Evans:
  ADP 215.35: 76 times

Terrace Marshall Jr.:
  ADP 212.29: 91 times

Noah Fant:
  ADP 213.0: 251 times
  ADP 212.96: 1 times

Adam Trautman:
  ADP 215.55: 46 times

Durham Smythe:
  ADP 215.83: 19 times

Malik Davis:
  ADP 214.16: 84 times

Deonte Harty:
  ADP 215.82: 39 times
  ADP 215.85: 1 times

Chase Edmonds:
  ADP 215.49: 47 times

Kendrick Bourne:
  ADP 215.89: 20 times

Cedric Tillman:
  ADP 214.64: 65 times

Jerry Jeudy:
  ADP 37.91: 644 times
  ADP 37.95: 2 times

Zack Moss:
  ADP 215.92: 5 times

Sterling Shepard:
  ADP 215.66: 26 times

Trey Lance:
  ADP 214.63: 43 times

Quez Watkins:
  ADP 215.11: 39 times

Sean Tucker:
  ADP 215.63: 13 times

Justice Hill:
  ADP 215.94: 16 times

DeMario Douglas:
  ADP 215.75: 22 times

Keaontay Ingram:
  ADP 215.67: 33 times

James Robinson:
  ADP 215.9: 4 times

Rico Dowdle:
  ADP 215.89: 3 times

Deneric Prince:
  ADP 215.41: 28 times

Nick Westbrook-Ikhine:
  ADP 215.99: 3 times

Darnell Washington:
  ADP 215.56: 27 times

Logan Thomas:
  ADP 215.73: 30 times

Israel Abanikanda:
  ADP 215.77: 17 times

Jimmy Graham:
  ADP 215.89: 2 times

A.T. Perry:
  ADP 215.89: 23 times

Will Levis:
  ADP 215.96: 4 times

Kyle Trask:
  ADP 215.98: 5 times

Kalif Raymond:
  ADP 215.88: 13 times

Dyami Brown:
  ADP 215.97: 1 times

Noah Gray:
  ADP 215.81: 21 times

Robbie Chosen:
  ADP 215.92: 16 times

Cedrick Wilson:
  ADP 215.98: 7 times

Foster Moreau:
  ADP 215.98: 1 times

Jacoby Brissett:
  ADP 215.97: 2 times

Mike White:
  ADP 215.93: 5 times

Nelson Agholor:
  ADP 215.88: 11 times

Trey Palmer:
  ADP 215.92: 8 times

Justin Watson:
  ADP 215.92: 16 times

DeWayne McBride:
  ADP 215.7: 9 times

Jalen Tolbert:
  ADP 215.91: 5 times

Isaiah Spiller:
  ADP 215.88: 24 times

Russell Gage:
  ADP 215.89: 18 times

Laviska Shenault Jr.:
  ADP 215.82: 25 times

Greg Dortch:
  ADP 215.64: 28 times

Malik Cunningham:
  ADP 215.88: 6 times

Jauan Jennings:
  ADP 215.92: 10 times

Evan Hull:
  ADP 214.97: 37 times

Jalen Guyton:
  ADP 215.99: 2 times

Jordan Mason:
  ADP 215.57: 12 times

Kylen Granson:
  ADP 216.0: 2 times

Pierre Strong Jr.:
  ADP 215.46: 13 times

Marquez Callaway:
  ADP 215.88: 14 times

Austin Hooper:
  ADP 215.88: 5 times

Sam Darnold:
  ADP 215.98: 3 times

Myles Gaskin:
  ADP 215.95: 3 times

Cole Beasley:
  ADP 215.89: 7 times

JaMycal Hasty:
  ADP 215.98: 1 times

John Hightower:
  ADP 215.99: 1 times
  ADP 216.0: 1 times

Olamide Zaccheaus:
  ADP 215.96: 3 times

Trenton Irwin:
  ADP 215.99: 2 times

Devin Duvernay:
  ADP 215.93: 4 times

Zach Evans:
  ADP 215.73: 15 times

Isaiah McKenzie:
  ADP 215.94: 8 times

Melvin Gordon III:
  ADP 215.78: 7 times

Aidan O'Connell:
  ADP 215.96: 1 times

Daniel Bellinger:
  ADP 215.91: 5 times

Colt McCoy:
  ADP 215.99: 1 times

Stetson Bennett:
  ADP 215.94: 6 times

Peyton Hendershot:
  ADP 216.0: 1 times

Dontayvion Wicks:
  ADP 215.99: 1 times

Chris Rodriguez:
  ADP 215.92: 4 times

Braxton Berrios:
  ADP 215.86: 12 times

Samori Toure:
  ADP 215.98: 2 times

Tyrion Davis-Price:
  ADP 215.91: 9 times

Raheem Blackshear:
  ADP 215.98: 1 times

KaVontae Turpin:
  ADP 215.99: 1 times

Zonovan Knight:
  ADP 215.97: 2 times

Tyler Scott:
  ADP 215.94: 5 times

Jacques Patrick:

Jamal Agnew:
  ADP 215.94: 2 times

Trayveon Williams:
  ADP 215.9: 7 times

Matt Breida:
  ADP 215.98: 3 times

Denzel Mims:
  ADP 215.94: 1 times

Anthony McFarland:
  ADP 215.98: 2 times

Demetric Felton:
  ADP 215.96: 2 times

Kayshon Boutte:
  ADP 215.97: 1 times

Parker Washington:
  ADP 215.99: 1 times

Derius Davis:
  ADP 215.99: 1 times

Randall Cobb:
  ADP 215.85: 10 times

Dorian Thompson-Robinson:
  ADP 216.0: 1 times

C.J. Uzomah:
  ADP 215.98: 2 times

Tre Tucker:
  ADP 215.99: 2 times

Elijah Higgins:
  ADP 215.98: 1 times

Blaine Gabbert:
  ADP 215.99: 1 times

Chris Moore:
  ADP 216.0: 1 times

Andrei Iosivas:
  ADP 215.98: 5 times

Ronnie Bell:

Kenny McIntosh:
  ADP 215.96: 1 times

Eric Gray:
  ADP 215.97: 1 times

Demarcus Robinson:
  ADP 215.98: 2 times

KJ Hamler:
  ADP 215.98: 1 times

Kyle Juszczyk:
  ADP 215.96: 2 times

Kyle Philips:
  ADP 215.97: 2 times

Connor Heyward:

Robert Tonyan:
  ADP 215.97: 1 times

Ben Skowronek:
  ADP 215.99: 1 times

Ronald Jones:
  ADP 215.99: 1 times

Marcus Mariota:
  ADP 215.92: 2 times

Jake Bobo:
  ADP 215.99: 1 times

Donald Parham Jr.:
  ADP 215.94: 1 times

Andy Isabella:

Charlie Jones:
  ADP 215.95: 2 times

Kene Nwangwu:
  ADP 215.96: 1 times

Malik Taylor:
  ADP 215.99: 1 times

Colby Parkinson:
  ADP 215.99: 1 times

Jarvis Landry:
  ADP 215.97: 1 times

Greg Olsen:
  ADP 215.99: 1 times

Taylor Heinicke:
  ADP 216.0: 1 times

Jeremy Ruckert:
  ADP 215.99: 1 times

In [42]:
dates = sorted(bbm4_cond_date['pick_created_time'].unique())
player_ids = bbm4_cond_date['player_id'].unique()

col_names = ['player_id', 'player_name', 'position'] + dates
bbm4_adp = pd.DataFrame(columns=col_names)

player_info = bbm4_cond_date.groupby('player_id').first()[['player_name', 'position_name']].reset_index()

for player_id in player_ids:
    player_data = player_info[player_info['player_id'] == player_id].iloc[0]
    row_data = [player_id, player_data['player_name'], player_data['position_name']] + [None] * len(dates)
    bbm4_adp.loc[len(bbm4_adp)] = row_data

In [46]:
for date in dates:
    bbm4_date = bbm4_cond_date[bbm4_cond_date['pick_created_time'] == date]
    for idx, row in bbm4_adp.iterrows():
        player_data = bbm4_date[bbm4_date['player_id'] == row['player_id']]
        adp_counts = player_data['projection_adp'].value_counts()
        if len(adp_counts) == 0:
            adp = 216.0
        else:
            adp = adp_counts.index[0]
        bbm4_adp.loc[idx, date] = adp

In [6]:
bbm4_adp.to_csv(r'C:\Users\Jona\Desktop\tuxff\data\bbm4_adp.csv')
bbm4_adp.head(5)

NameError: name 'bbm4_adp' is not defined

### ADP Data -> Postgres DB

In [5]:
bbm4_adp = pd.read_csv(r'C:\Users\Jona\Desktop\tuxff\data\adp_data\bbm4_adp.csv', delimiter=',')
bbm4_adp.head(5)

,Unnamed: 0,player_id,player_name,position,2023-04-29,2023-04-30,2023-05-01,2023-05-02,2023-05-03,2023-05-04,...,2023-08-28,2023-08-29,2023-08-30,2023-08-31,2023-09-01,2023-09-02,2023-09-03,2023-09-04,2023-09-05,2023-09-06
0,0,25ea41e7-0529-48c6-ba65-7648bb7f9ed2,Stefon Diggs,WR,8.0,8.64,8.25,8.00,7.91,7.99,...,8.87,8.84,8.74,8.77,8.72,8.61,8.57,8.56,8.29,7.83
1,1,99398db6-2ffb-42e9-bdb0-4312a399ab08,Josh Allen,QB,14.0,15.51,15.85,16.55,17.23,17.61,...,26.73,26.86,27.13,27.36,27.43,27.42,27.26,27.03,26.92,26.64
2,2,d74acd73-504a-4c9b-8aa6-fe602de560a8,Keenan Allen,WR,52.0,52.71,52.89,53.00,52.87,52.47,...,35.73,35.76,35.41,35.09,35.00,34.97,34.95,35.00,35.06,35.01
3,3,c108c752-92fd-491f-94ed-60b0b3cea7d8,Christian Watson,WR,48.0,48.17,47.88,47.17,46.13,45.85,...,40.35,40.26,40.03,39.70,39.60,39.70,39.76,39.72,39.39,39.18
4,4,660a9e72-4fc7-442d-ba62-257dbab39568,T.J. Hockenson,TE,37.0,39.81,40.84,41.93,42.99,43.84,...,54.02,53.96,53.75,53.82,53.32,52.98,53.16,52.88,52.04,51.45

In [28]:
for idx, row in bbm4_adp.iterrows():
    cursor.execute("""
        INSERT INTO player_info (player_id, player_name, position) 
        VALUES (%s, %s, %s)
        ON CONFLICT (player_id) DO NOTHING
    """, (row['player_id'], row['player_name'], row['position']))

conn.commit()

In [26]:
cursor.execute("SELECT player_id, date FROM player_adp")
existing_data = set()
for row in cursor.fetchall():
    existing_data.add((row['player_id'], row['date']))
print('Step 1 Complete')

adp_data = []
for idx, row in bbm4_adp.iterrows():
    for date in bbm4_adp.columns[4:]:
        if (row['player_id'], date) not in existing_data:
            adp_data.append((row['player_id'], date, row[date]))
print(f"Step 2 Complete - {len(adp_data)} new records to insert")

batch_size = 500
for i in range(0, len(adp_data), batch_size):
    batch = adp_data[i:i+batch_size]
    print(f"Starting batch {i//batch_size + 1} with {len(batch)} records...")
    cursor.executemany("""
        INSERT INTO player_adp (player_id, date, adp) 
        VALUES (%s, %s, %s)
    """, batch)
    print(f"Completed batch {i//batch_size + 1}")
    
    conn.commit()
    print(f"Committed batch {i//batch_size + 1}")

Step 1 Complete
Step 2 Complete - 96940 new records to insert
Starting batch 1 with 500 records...
Completed batch 1
Committed batch 1
Starting batch 2 with 500 records...
Completed batch 2
Committed batch 2
Starting batch 3 with 500 records...
Completed batch 3
Committed batch 3
Starting batch 4 with 500 records...
Completed batch 4
Committed batch 4
Starting batch 5 with 500 records...
Completed batch 5
Committed batch 5
Starting batch 6 with 500 records...
Completed batch 6
Committed batch 6
Starting batch 7 with 500 records...
Completed batch 7
Committed batch 7
Starting batch 8 with 500 records...
Completed batch 8
Committed batch 8
Starting batch 9 with 500 records...
Completed batch 9
Committed batch 9
Starting batch 10 with 500 records...
Completed batch 10
Committed batch 10
Starting batch 11 with 500 records...
Completed batch 11
Committed batch 11
Starting batch 12 with 500 records...
Completed batch 12
Committed batch 12
Starting batch 13 with 500 records...
Completed batch 13
Committed batch 13
Starting batch 14 with 500 records...
Completed batch 14
Committed batch 14
Starting batch 15 with 500 records...
Completed batch 15
Committed batch 15
Starting batch 16 with 500 records...
Completed batch 16
Committed batch 16
Starting batch 17 with 500 records...
Completed batch 17
Committed batch 17
Starting batch 18 with 500 records...
Completed batch 18
Committed batch 18
Starting batch 19 with 500 records...
Completed batch 19
Committed batch 19
Starting batch 20 with 500 records...
Completed batch 20
Committed batch 20
Starting batch 21 with 500 records...
Completed batch 21
Committed batch 21
Starting batch 22 with 500 records...
Completed batch 22
Committed batch 22
Starting batch 23 with 500 records...
Completed batch 23
Committed batch 23
Starting batch 24 with 500 records...
Completed batch 24
Committed batch 24
Starting batch 25 with 500 records...
Completed batch 25
Committed batch 25
Starting batch 26 with 500 records...
Completed batch 26
Committed batch 26
Starting batch 27 with 500 records...
Completed batch 27
Committed batch 27
Starting batch 28 with 500 records...
Completed batch 28
Committed batch 28
Starting batch 29 with 500 records...
Completed batch 29
Committed batch 29
Starting batch 30 with 500 records...
Completed batch 30
Committed batch 30
Starting batch 31 with 500 records...
Completed batch 31
Committed batch 31
Starting batch 32 with 500 records...
Completed batch 32
Committed batch 32
Starting batch 33 with 500 records...
Completed batch 33
Committed batch 33
Starting batch 34 with 500 records...
Completed batch 34
Committed batch 34
Starting batch 35 with 500 records...
Completed batch 35
Committed batch 35
Starting batch 36 with 500 records...
Completed batch 36
Committed batch 36
Starting batch 37 with 500 records...
Completed batch 37
Committed batch 37
Starting batch 38 with 500 records...
Completed batch 38
Committed batch 38
Starting batch 39 with 500 records...
Completed batch 39
Committed batch 39
Starting batch 40 with 500 records...
Completed batch 40
Committed batch 40
Starting batch 41 with 500 records...
Completed batch 41
Committed batch 41
Starting batch 42 with 500 records...
Completed batch 42
Committed batch 42
Starting batch 43 with 500 records...
Completed batch 43
Committed batch 43
Starting batch 44 with 500 records...
Completed batch 44
Committed batch 44
Starting batch 45 with 500 records...
Completed batch 45
Committed batch 45
Starting batch 46 with 500 records...
Completed batch 46
Committed batch 46
Starting batch 47 with 500 records...
Completed batch 47
Committed batch 47
Starting batch 48 with 500 records...
Completed batch 48
Committed batch 48
Starting batch 49 with 500 records...
Completed batch 49
Committed batch 49
Starting batch 50 with 500 records...
Completed batch 50
Committed batch 50
Starting batch 51 with 500 records...
Completed batch 51
Committed batch 51
Starting batch 52 with 500 records...
Completed batch 52
Committed batch 52
Starting batch 53 with 500 records...
Completed batch 53
Committed batch 53
Starting batch 54 with 500 records...
Completed batch 54
Committed batch 54
Starting batch 55 with 500 records...
Completed batch 55
Committed batch 55
Starting batch 56 with 500 records...
Completed batch 56
Committed batch 56
Starting batch 57 with 500 records...
Completed batch 57
Committed batch 57
Starting batch 58 with 500 records...
Completed batch 58
Committed batch 58
Starting batch 59 with 500 records...
Completed batch 59
Committed batch 59
Starting batch 60 with 500 records...
Completed batch 60
Committed batch 60
Starting batch 61 with 500 records...
Completed batch 61
Committed batch 61
Starting batch 62 with 500 records...
Completed batch 62
Committed batch 62
Starting batch 63 with 500 records...
Completed batch 63
Committed batch 63
Starting batch 64 with 500 records...
Completed batch 64
Committed batch 64
Starting batch 65 with 500 records...
Completed batch 65
Committed batch 65
Starting batch 66 with 500 records...
Completed batch 66
Committed batch 66
Starting batch 67 with 500 records...
Completed batch 67
Committed batch 67
Starting batch 68 with 500 records...
Completed batch 68
Committed batch 68
Starting batch 69 with 500 records...
Completed batch 69
Committed batch 69
Starting batch 70 with 500 records...
Completed batch 70
Committed batch 70
Starting batch 71 with 500 records...
Completed batch 71
Committed batch 71
Starting batch 72 with 500 records...
Completed batch 72
Committed batch 72
Starting batch 73 with 500 records...
Completed batch 73
Committed batch 73
Starting batch 74 with 500 records...
Completed batch 74
Committed batch 74
Starting batch 75 with 500 records...
Completed batch 75
Committed batch 75
Starting batch 76 with 500 records...
Completed batch 76
Committed batch 76
Starting batch 77 with 500 records...
Completed batch 77
Committed batch 77
Starting batch 78 with 500 records...
Completed batch 78
Committed batch 78
Starting batch 79 with 500 records...
Completed batch 79
Committed batch 79
Starting batch 80 with 500 records...
Completed batch 80
Committed batch 80
Starting batch 81 with 500 records...
Completed batch 81
Committed batch 81
Starting batch 82 with 500 records...
Completed batch 82
Committed batch 82
Starting batch 83 with 500 records...
Completed batch 83
Committed batch 83
Starting batch 84 with 500 records...
Completed batch 84
Committed batch 84
Starting batch 85 with 500 records...
Completed batch 85
Committed batch 85
Starting batch 86 with 500 records...
Completed batch 86
Committed batch 86
Starting batch 87 with 500 records...
Completed batch 87
Committed batch 87
Starting batch 88 with 500 records...
Completed batch 88
Committed batch 88
Starting batch 89 with 500 records...
Completed batch 89
Committed batch 89
Starting batch 90 with 500 records...
Completed batch 90
Committed batch 90
Starting batch 91 with 500 records...
Completed batch 91
Committed batch 91
Starting batch 92 with 500 records...
Completed batch 92
Committed batch 92
Starting batch 93 with 500 records...
Completed batch 93
Committed batch 93
Starting batch 94 with 500 records...
Completed batch 94
Committed batch 94
Starting batch 95 with 500 records...
Completed batch 95
Committed batch 95
Starting batch 96 with 500 records...
Completed batch 96
Committed batch 96
Starting batch 97 with 500 records...
Completed batch 97
Committed batch 97
Starting batch 98 with 500 records...
Completed batch 98
Committed batch 98
Starting batch 99 with 500 records...
Completed batch 99
Committed batch 99
Starting batch 100 with 500 records...
Completed batch 100
Committed batch 100
Starting batch 101 with 500 records...
Completed batch 101
Committed batch 101
Starting batch 102 with 500 records...
Completed batch 102
Committed batch 102
Starting batch 103 with 500 records...
Completed batch 103
Committed batch 103
Starting batch 104 with 500 records...
Completed batch 104
Committed batch 104
Starting batch 105 with 500 records...
Completed batch 105
Committed batch 105
Starting batch 106 with 500 records...
Completed batch 106
Committed batch 106
Starting batch 107 with 500 records...
Completed batch 107
Committed batch 107
Starting batch 108 with 500 records...
Completed batch 108
Committed batch 108
Starting batch 109 with 500 records...
Completed batch 109
Committed batch 109
Starting batch 110 with 500 records...
Completed batch 110
Committed batch 110
Starting batch 111 with 500 records...
Completed batch 111
Committed batch 111
Starting batch 112 with 500 records...
Completed batch 112
Committed batch 112
Starting batch 113 with 500 records...
Completed batch 113
Committed batch 113
Starting batch 114 with 500 records...
Completed batch 114
Committed batch 114
Starting batch 115 with 500 records...
Completed batch 115
Committed batch 115
Starting batch 116 with 500 records...
Completed batch 116
Committed batch 116
Starting batch 117 with 500 records...
Completed batch 117
Committed batch 117
Starting batch 118 with 500 records...
Completed batch 118
Committed batch 118
Starting batch 119 with 500 records...
Completed batch 119
Committed batch 119
Starting batch 120 with 500 records...
Completed batch 120
Committed batch 120
Starting batch 121 with 500 records...
Completed batch 121
Committed batch 121
Starting batch 122 with 500 records...
Completed batch 122
Committed batch 122
Starting batch 123 with 500 records...
Completed batch 123
Committed batch 123
Starting batch 124 with 500 records...
Completed batch 124
Committed batch 124
Starting batch 125 with 500 records...
Completed batch 125
Committed batch 125
Starting batch 126 with 500 records...
Completed batch 126
Committed batch 126
Starting batch 127 with 500 records...
Completed batch 127
Committed batch 127
Starting batch 128 with 500 records...
Completed batch 128
Committed batch 128
Starting batch 129 with 500 records...
Completed batch 129
Committed batch 129
Starting batch 130 with 500 records...
Completed batch 130
Committed batch 130
Starting batch 131 with 500 records...
Completed batch 131
Committed batch 131
Starting batch 132 with 500 records...
Completed batch 132
Committed batch 132
Starting batch 133 with 500 records...
Completed batch 133
Committed batch 133
Starting batch 134 with 500 records...
Completed batch 134
Committed batch 134
Starting batch 135 with 500 records...
Completed batch 135
Committed batch 135
Starting batch 136 with 500 records...
Completed batch 136
Committed batch 136
Starting batch 137 with 500 records...
Completed batch 137
Committed batch 137
Starting batch 138 with 500 records...
Completed batch 138
Committed batch 138
Starting batch 139 with 500 records...
Completed batch 139
Committed batch 139
Starting batch 140 with 500 records...
Completed batch 140
Committed batch 140
Starting batch 141 with 500 records...
Completed batch 141
Committed batch 141
Starting batch 142 with 500 records...
Completed batch 142
Committed batch 142
Starting batch 143 with 500 records...
Completed batch 143
Committed batch 143
Starting batch 144 with 500 records...
Completed batch 144
Committed batch 144
Starting batch 145 with 500 records...
Completed batch 145
Committed batch 145
Starting batch 146 with 500 records...
Completed batch 146
Committed batch 146
Starting batch 147 with 500 records...
Completed batch 147
Committed batch 147
Starting batch 148 with 500 records...
Completed batch 148
Committed batch 148
Starting batch 149 with 500 records...
Completed batch 149
Committed batch 149
Starting batch 150 with 500 records...
Completed batch 150
Committed batch 150
Starting batch 151 with 500 records...
Completed batch 151
Committed batch 151
Starting batch 152 with 500 records...
Completed batch 152
Committed batch 152
Starting batch 153 with 500 records...
Completed batch 153
Committed batch 153
Starting batch 154 with 500 records...
Completed batch 154
Committed batch 154
Starting batch 155 with 500 records...
Completed batch 155
Committed batch 155
Starting batch 156 with 500 records...
Completed batch 156
Committed batch 156
Starting batch 157 with 500 records...
Completed batch 157
Committed batch 157
Starting batch 158 with 500 records...
Completed batch 158
Committed batch 158
Starting batch 159 with 500 records...
Completed batch 159
Committed batch 159
Starting batch 160 with 500 records...
Completed batch 160
Committed batch 160
Starting batch 161 with 500 records...
Completed batch 161
Committed batch 161
Starting batch 162 with 500 records...
Completed batch 162
Committed batch 162
Starting batch 163 with 500 records...
Completed batch 163
Committed batch 163
Starting batch 164 with 500 records...
Completed batch 164
Committed batch 164
Starting batch 165 with 500 records...
Completed batch 165
Committed batch 165
Starting batch 166 with 500 records...
Completed batch 166
Committed batch 166
Starting batch 167 with 500 records...
Completed batch 167
Committed batch 167
Starting batch 168 with 500 records...
Completed batch 168
Committed batch 168
Starting batch 169 with 500 records...
Completed batch 169
Committed batch 169
Starting batch 170 with 500 records...
Completed batch 170
Committed batch 170
Starting batch 171 with 500 records...
Completed batch 171
Committed batch 171
Starting batch 172 with 500 records...
Completed batch 172
Committed batch 172
Starting batch 173 with 500 records...
Completed batch 173
Committed batch 173
Starting batch 174 with 500 records...
Completed batch 174
Committed batch 174
Starting batch 175 with 500 records...
Completed batch 175
Committed batch 175
Starting batch 176 with 500 records...
Completed batch 176
Committed batch 176
Starting batch 177 with 500 records...
Completed batch 177
Committed batch 177
Starting batch 178 with 500 records...
Completed batch 178
Committed batch 178
Starting batch 179 with 500 records...
Completed batch 179
Committed batch 179
Starting batch 180 with 500 records...
Completed batch 180
Committed batch 180
Starting batch 181 with 500 records...
Completed batch 181
Committed batch 181
Starting batch 182 with 500 records...
Completed batch 182
Committed batch 182
Starting batch 183 with 500 records...
Completed batch 183
Committed batch 183
Starting batch 184 with 500 records...
Completed batch 184
Committed batch 184
Starting batch 185 with 500 records...
Completed batch 185
Committed batch 185
Starting batch 186 with 500 records...
Completed batch 186
Committed batch 186
Starting batch 187 with 500 records...
Completed batch 187
Committed batch 187
Starting batch 188 with 500 records...
Completed batch 188
Committed batch 188
Starting batch 189 with 500 records...
Completed batch 189
Committed batch 189
Starting batch 190 with 500 records...
Completed batch 190
Committed batch 190
Starting batch 191 with 500 records...
Completed batch 191
Committed batch 191
Starting batch 192 with 500 records...
Completed batch 192
Committed batch 192
Starting batch 193 with 500 records...
Completed batch 193
Committed batch 193
Starting batch 194 with 440 records...
Completed batch 194
Committed batch 194

In [27]:
conn.close()
cursor.close()

# BBM5 (2024)

In [22]:
bbm5_adp = pd.read_csv(r'C:\Users\Jona\Desktop\tuxff\data\adp_data\bbm5_adp.csv', delimiter=',')
bbm5_adp.head(5)

,Unnamed: 0,player_id,player_name,position,2024-04-29,2024-04-30,2024-05-01,2024-05-02,2024-05-03,2024-05-04,...,2024-08-22,2024-08-23,2024-08-24,2024-08-25,2024-08-26,2024-08-27,2024-08-28,2024-08-29,2024-08-30,2024-08-31
0,0,cb7b1dc6-91ce-47b8-813c-07486371a922,Christian McCaffrey,RB,1.0,1.11,1.15,1.18,1.20,1.22,...,1.23,1.22,1.21,1.21,1.23,1.27,1.30,1.30,1.29,1.27
1,1,4de8084d-aa1a-43c7-9676-0def5b39e980,CeeDee Lamb,WR,2.0,2.26,2.25,2.19,2.14,2.13,...,2.31,2.33,2.37,2.38,2.38,2.19,2.06,2.05,2.08,2.10
2,2,84cf37a2-d9f9-4315-a56a-c003a186023d,Tyreek Hill,WR,3.0,3.15,3.26,3.25,3.22,3.23,...,2.87,2.86,2.85,2.83,2.82,2.89,2.96,2.96,2.95,2.96
3,3,19818cc6-e21b-4258-9315-93cb64fb92e7,Ja'Marr Chase,WR,4.0,4.08,4.08,4.07,4.07,4.07,...,4.80,4.91,4.98,4.99,4.90,4.85,4.82,4.94,5.23,5.36
4,4,d61fb310-35c9-4f90-a99c-fb4605a870f4,Justin Jefferson,WR,6.0,5.82,5.65,5.47,5.32,5.26,...,6.27,6.28,6.27,6.26,6.32,6.50,6.55,6.44,6.23,6.27

In [18]:
for idx, row in bbm5_adp.iterrows():
    cursor.execute("""
        INSERT INTO player_info (player_id, player_name, position) 
        VALUES (%s, %s, %s)
        ON CONFLICT (player_id) DO UPDATE SET
            player_name = EXCLUDED.player_name,
            position = EXCLUDED.position
    """, (row['player_id'], row['player_name'], row['position']))

conn.commit()

In [ ]:
for idx, row in bbm5_adp.iterrows():
    for date in bbm5_adp.columns[4:]:
        cursor.execute("""
            INSERT INTO player_adp (player_id, date, adp) 
            VALUES (%s, %s, %s)
            ON CONFLICT (player_id) DO UPDATE SET
                player_name = EXCLUDED.player_name,
                position = EXCLUDED.position
        """, (row['player_id'], date, row[date]))

conn.commit()

# Add BBM6 players to postgres db

In [15]:
bbm6_data = pd.read_csv('data/Underdog_Draft_Table_2025-07-13.csv', delimiter=',')
bbm6_data.head()

,Rank,Player,Position,Position Rank,ADP on April 29,ADP on July 12,ADP Change
0,1,Ja'Marr Chase,WR,WR1,1.1,1.1,0.0
1,2,Justin Jefferson,WR,WR2,3.7,2.8,-0.9
2,3,Bijan Robinson,RB,RB1,3.7,3.1,-0.6
3,4,Saquon Barkley,RB,RB2,2.5,4.1,1.6
4,5,CeeDee Lamb,WR,WR3,5.3,4.8,-0.5

In [46]:
cursor.execute('SELECT player_name FROM player_info')
player_info = cursor.fetchall()

player_names = []
for player in player_info:
    player_names.append(player['player_name'])

player_data = []
for idx, row in bbm6_data.iterrows():
    if row['Player'] not in player_names:
        print(row['Player'])
        player_data.append((str(uuid.uuid4()), row['Player'], row['Position']))

cursor.executemany(
    "INSERT INTO player_info (player_id, player_name, position) VALUES (%s, %s, %s)",
    player_data
)

conn.commit()

In [47]:
conn.close()
cursor.close()